[Unit]
Description=HRel Scanner
Requires=postgresql.service
After=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/bin/stack exec hrel-scanner
WorkingDirectory=/var/hrel/hrel
User=hrel
Group=hrel

[Install]
WantedBy=default.target
