[Unit]
Description=HRel Web Server
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
ExecStart=/usr/bin/stack exec hrel-webserver
WorkingDirectory=/var/hrel/hrel-server
User=hrel
Group=hrel
Restart=on-failure

[Install]
WantedBy=default.target
