[Unit]
Description=HRel Scanner
Requires=postgresql.service
After=postgresql.service

[Service]
Type=oneshot
ExecStart=/user/bin/stack exec hrel-scanner
WorkingDirectory=/var/hrel/hrel-server
User=hrel
Group=hrel

[Install]
WantedBy=default.target
