[Unit]
Description=HRel Feed Scanner
Requires=postgresql.service
After=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/bin/node --harmony /var/hrel/server/scanner.js
WorkingDirectory=/var/hrel
User=hrel
Group=hrel

[Install]
WantedBy=default.target
