[Unit]
Description=HRel Web Server
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
ExecStart=/usr/bin/node --harmony /var/hrel/server/server.js
WorkingDirectory=/var/hrel
User=hrel
Group=hrel
Restart=on-failure

[Install]
WantedBy=default.target
