#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#container #query {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.release-link, .group-link, .release-name {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	white-space: pre;
	font-family: monospace;
}
