/* General */
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(20, 20, 20);
	color: #fff;
	font-family: monospace;
}

/* Index */
.index {
	display: flex;
	justify-content: center;

	.feeds {
		display: table;
		border-spacing: 5px;

		.feed {
			display: table-row;
			cursor: pointer;

			.cell {
				display: table-cell;
				padding: 10px;
				background-color: rgb(26, 26, 26);
				color: rgb(175, 175, 175);
				transition: all 333ms;

				&.title {
					text-align: right;
				}

				&.count {
					text-align: center;
				}
			}

			&:hover .cell {
				background-color: rgb(150, 55, 60);
				color: rgb(200, 200, 200);
			}
		}
	}
}
