/* General */
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(20, 20, 20);
	color: #fff;
	font-family: monospace;
}

a:link {
	color: #fff;
	text-decoration: none;
	font-family: monospace;
};

/* Table */
.table {
	display: table;
	border-spacing: 5px;

	.row {
		display: table-row;
		.cell {
			display: table-cell;
			padding: 10px;
			background-color: rgb(26, 26, 26);
			color: rgb(175, 175, 175);
			transition: all 200ms;
		}

		&:hover .cell {
			background-color: rgb(150, 55, 60);
			color: rgb(200, 200, 200);
		}
	}
}

/* Index */
.index {
	display: flex;
	justify-content: center;

	.table .row {
		cursor: pointer;
	}

	.table .row .cell.title {
		text-align: right;
	}

	.table .row .cell.count {
		text-align: center;
	}
}

/* Feed */
.feed {
	display: flex;
	justify-content: center;

	.table .row .cell.size {
		text-align: center;
	}
}
